
.build/artifacts/xraykit-backup/XrayKit.xcframework/Info.plist
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Headers
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Modules
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Resources
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Headers/ref.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Headers/Universe.objc.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Headers/Xray.objc.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Headers/XrayKit.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Modules/module.modulemap
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/Resources/Info.plist
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/A/XrayKit
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/Versions/Current
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64/XrayKit.framework/XrayKit
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Headers
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Modules
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Resources
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Headers/ref.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Headers/Universe.objc.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Headers/Xray.objc.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Headers/XrayKit.h
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Modules/module.modulemap
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/Resources/Info.plist
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/A/XrayKit
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/Versions/Current
.build/artifacts/xraykit-backup/XrayKit.xcframework/ios-arm64_x86_64-simulator/XrayKit.framework/XrayKit
.build/workspace-state.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/alexzhu.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/alexzhu.xcuserdatad/xcschemes/xcschememanagement.plist
